{{#each links as |link|}}
    <li>{{link-to link.title link.route}}</li>
{{/each}}

{{!-- <ul class="right hide-on-med-and-down">
    <li><a href="#">Navbar Link</a></li>
</ul>

<ul id="nav-mobile" class="side-nav">
    

    <li><a href="#">Navbar Link</a></li>
</ul> --}}