body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > .ember-view {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.CodeMirror{
    font-size: 1.25rem;
    height: 350px;
}

.small-editor .CodeMirror, .CodeMirror.small-editor {
    height: 150px;
}

#logo-container {
    font-size: 25px;
}

.demo-svg svg{
    border: 3px solid #009688;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1800px;
    width: calc(100% - 40px);
}

.inherit-fill{
    fill: inherit;
}
