<header>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      {{link-to 'SVG and Ember' 'index' id="logo-container"}}
      {{main-nav class="right" links=links}}
      {{!-- {{main-nav id="nav-mobile" class="side-nav" links=links}} --}}
    </div>
  </nav>
</header>

<main class="container">
  <div class="section">
    {{outlet}}
  </div>
</main>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Helpful Links</h5>
        <p class="grey-text text-lighten-4">Here's some helpful references to parse through after this talk.</p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">SVG</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Shapes">MDN - Basic Shapes</a></li>
          <li><a class="white-text" target="_blank" href="http://tutorials.jenkov.com/svg/svg-viewport-view-box.html">Viewport and Viewbox</a></li>
          <li><a class="white-text" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio">MDN - viewBox/preserveAspectRatio</a></li>
          <li><a class="white-text" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/defs">MDN - Defs</a></li>
          <li><a class="white-text" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns">MDN - Patterns</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Additional Reading</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://github.com/daneden/animate.css">Animate.css docs</a></li>
          <li><a class="white-text" target="_blank" href="https://d3js.org/">https://d3js.org/</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text" href="http://nathanbatson.com"><strong>Nathan Batson</strong></a> for <a class="white-text" href="https://www.q2ebanking.com/"><strong>Q2</strong></a>
    </div>
  </div>
</footer>