<h1>Path Definitions</h1>
{{svg-editor 
    advanced=false 
    extra=false
    width=450
    height=450
    preserveAspectRatio="xMinYMax meet"
    paths='<defs>
    <linearGradient id="gradient-01">
      <stop offset="20%" stop-color="#ff00ff" />
      <stop offset="90%" stop-color="#9999ff" />
    </linearGradient>
    <clipPath id="nathan-head">
        <path x="150" y="0" transform="translate(10 175)" d="M186.417,77.424c3.313-8.722,5.894-13.536-0.689-19.895c-2.75-3.215-7.186-3.713-7.186-3.713
        c0.773,4.061-1.093,8.457-6.621,9.442c-5.528,0.986-11.275-4.487-8.331-12.17c2.944-7.684,14.116-5.819,14.116-5.819
        s-7.226-4.591-7.916-12.258c-1.632-18.235-15.314-12.888-15.314-12.888s3.304,8.744-5.634,11.217
        c-8.938,2.473-16.584-7.076-9.247-14.382c3.976-3.96,10.991-1.81,10.991-1.81s-6.683-8.491-18.906-6.545
        c-7.866,1.251-12.108,11.121-12.108,11.121s1.233-9.627-5.499-14.317c-6.579-4.583-11.593-5.392-14.612-2.642
        c-3.184,2.9-3.614,6.827-3.614,6.827s3.268-2.502,7.28-1.058c4.043,1.456,4.066,11.214-0.944,12.67
        c-5.01,1.457-5.448-2.105-10.808-7.242c-3.014-2.886-7.495-3.749-12-3.42c4.961,5.068,10.137,16.282-0.647,16.821
        c-11.416,0.571-8.949-10.352-3.559-15.958c0,0-4.42,0.324-8.065,1.919c-8.847,3.871-18.245,11.398-26.439,3.904
        C32.917,10.145,36.673,1,36.673,1s-11.33,6.17-12.616,18.277c-0.652,6.137-0.206,9.473-0.206,9.473s-4.202-0.764-9.792,0.865
        C6.194,31.908,0.044,37.199,1.123,47.659c1.079,10.46,10.996,10.424,10.996,10.424s-1.736-2.358-2.157-6.147
        c-0.754-6.793,4.968-9.018,10.302-6.881c5.334,2.137,5.027,11.813,0.257,16.438c-4.763,4.623-10.825,8.903-12.314,17.952
        c-1.491,9.045,7.308,13.357,7.308,13.357s1.617,5.661-4.044,6.793c-5.466,1.094-7.602-5.661-7.602-5.661s-4.587,9.69,0.162,14.825
        c4.752,5.136,10.036,3.773,10.036,3.773s7.787,6.858,3.135,14.289c-4.655,7.442-8.885,7.078-8.885,7.078s6.625,3.49,9.15,5.545
        c3.598,2.932,8.431,9.344,4.01,15.166c-4.42,5.823-12.243-0.151-12.243-0.151s-0.013,13.162,7.307,15.01
        c7.322,1.842,10.256-2.373,12.939,2.911c2.683,5.287-1.833,5.284-0.647,13.263c1.187,7.981,11.753,7.764,11.753,7.764
        s-0.275-7.759,7.597-7.973c7.872-0.215,7.18,7.695,5.343,11.964c-1.843,4.266-9.5,0.99-9.5,0.99s2.608,12.543,13.317,9.396
        c10.709-3.148,7.905,3.215,18.149,4.291c7.675,0.807,11.353-3.949,11.353-3.949s2.33,1.965,5.96,3.382s8.473-1.665,8.473-1.665
        s2.803,3.944,7.642,3.841c4.837-0.101,8.269-3.933,8.269-3.933s2.502,3.998,6.736,3.869c4.236-0.123,5.913-4.132,9.829-3.844
        c3.948,0.291,3.417,3.91,3.417,3.91s5.067,1.085,6.254-5.062c1.031-5.341,7.44-1.185,6.607-15.433
        c-0.782-13.38,9.676-12.063,6.796-19.882c0,0-3.478-8.193-4.261-10.554c-0.789-2.362-4.471-1.229-4.471-1.229
        s-1.612,0.579-3.882-0.161c-2.268-0.74-4.103-3.22-4.103-3.22s-1.399,2.588-7.748,2.658c-2.249-0.007-7.016-3.338-11.074,0.814
        c-4.065,4.152-9.126,1.893-9.126,1.893s-0.106,7.473-6.531,7.659c-11.875,0.342-6.735-9.979-6.735-9.979s-5.134-1.646-9.525,2.922
        c-3.494,3.634-10.204,1.678-8.998-5.967c0.689-4.379-3.797-5.174-3.797-5.174s-1.693,3.933-6.716,2.535
        c-5.027-1.4-7.785-7.85-6.083-14.036c1.7-6.185,7.205-3.134,10.695-3.917c5.655-0.635,5.655-7.967,5.655-7.967
        s-7.869-2.994-6.685-9.058c0.746-3.814,3.592-7.225,3.592-7.225s2.099,1.705,8.541,1.705s10.27-8.066,10.27-8.066
        s-6.801,0.35-8.138-3.341c-1.758-4.855,2.412-10.208,6.222-11.325c12.508-3.666,9.273,9.49,9.273,9.49s9.919-0.551,13.586-4.961
        c3.794-4.562,7.685-4.854,10.461-4.531c11.104,1.296,9.573,14.089,9.573,14.089s12.099-14.087,24.477-1.069
        c5.095,5.358,2.408,14.449,2.408,14.449s13.128-4.346,13.315-15.743c0.188-11.396,12.217-10.464,12.217-10.464
        S183.109,86.145,186.417,77.424z M121.02,182.985c11.29,2.369,17.774,0.731,17.774,0.731s-0.954,0.198-2.192,7.285
        c-1.242,7.087-5.511,4.711-9.156,3.644s-6.824-0.233-6.824-0.233s0.292-1.815,0.79-6.131
        C121.841,184.568,121.02,182.985,121.02,182.985z"/>
    </clipPath>
</defs>

<rect x="5" y="5" width="300" height="150" 
        fill="url(#gradient-01)" />

<rect x="0" y="175" width="300" height="230" 
        fill="url(#gradient-01)" clip-path="url(#nathan-head)"/>'
  }}