<h1>View Port and View Box</h1>
{{svg-editor advanced=true extra=true paths='<polygon points="50 160 55 180 70 180 60 190 65 205 50 195 35 205 40 190 30 180 45 180"
      class="red-fill animated infinite bounce" fill="#ff00ff" stroke-width="2"/>'}}